# NOTE: This file needs to be at ~/ filepath to work
[user]
	# email = benjheath0@gmail.com // put email here if no override
	name = Ben Heath
[core]
	editor = vim
[init]
	defaultBranch = main
[alias]
    lg = log --graph --abbrev-commit --date=iso --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci%x08%x08%x08%x08%x08%x08) %C(bold blue)<%an>%Creset'
    lgd = log --graph --abbrev-commit --date=iso --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci%x08%x08%x08%x08%x08%x08) %C(bold blue)<%an>%Creset'
    lgr = log --graph --abbrev-commit --date=iso --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    lga = log --graph --oneline --all --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci%x08%x08%x08%x08%x08%x08) %C(bold blue)<%an>%Creset'
	fuckup = reset --soft HEAD~1
    c = checkout
    cb = checkout -b
    s = status
    d = diff
    b = branch


[mergetool "vscode"]
    cmd = code -n --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool "vscode"]
    cmd =code -n --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
#    tool = kdiff3
[diff]
    tool = vscode
#    tool = kdiff3

# put this in the root .gitconfig wherever this needs to be applied

# [user]
# 	email = <override_email>@whatever

# [include]
#     path = ~/dev/.gitconfig
